Source: flameproject
Section: graphics
Priority: optional
Maintainer: Justin Clift <justin@postgresql.org>
Standards-Version: 3.7.2.1
Build-Depends: autoconf, pkg-config, libgtk2.0-dev (>=2.2.0), libglib2.0-dev (>=2.2.0), libgconf2-dev, libgnome2-dev, libxml2-dev

Package: flameproject
Architecture: i386
Depends: ${shlibs:Depends}
Description: An Integrated Development Environment for producing Animated SVG files.
